<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ScreenShot">
	<listeners>
		<listener class-name="com.ba.utilities.Listeners" />
	</listeners>
	<test name="BankApplication">
		<classes>
			<class name="com.ba.testcase.TestCase001" />
			

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
